{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='FileSaver.js') }}'></script>
    <script src='{{ url_for('static', filename='d3.v4.min.js') }}'></script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='tree.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
