{% extends "main.html" %}

{% block title %}Tree{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='tree.js') }}'></script>
{% endblock %}

{% block content %}
{{super()}}
<script>
	var treeData = {{ tree_json | safe }};
</script>

<div id=lookyloo-icon></div>
<div id=legend>
    <img src="{{ url_for('static', filename='javascript.png') }}"
         alt="JavaScript" height="20" width="20"> Javascript </br>

    <img src="{{ url_for('static', filename='cookie_received.png') }}"
         alt="Cookie received" height="20" width="20"> Cookie received</br>

    <img src="{{ url_for('static', filename='cookie_read.png') }}"
         alt="Cookie read" height="20" width="20"> Cookie read</br>

    <img src="{{ url_for('static', filename='redirect.png') }}"
         alt="Redirect" height="20" width="20"> Redirect</br>

    <img src="{{ url_for('static', filename='font.png') }}"
         alt="Font" height="20" width="20"> Font</br>

    <img src="{{ url_for('static', filename='html.png') }}"
         alt="HTML" height="20" width="20"> HTML</br>

    <img src="{{ url_for('static', filename='json.png') }}"
         alt="JSON" height="20" width="20"> JSON</br>

    <img src="{{ url_for('static', filename='css.png') }}"
         alt="CSS" height="20" width="20"> CSS</br>

    <img src="{{ url_for('static', filename='exe.png') }}"
        alt="EXE" height="20" width="20"> EXE</br>

    <img src="{{ url_for('static', filename='img.png') }}"
        alt="Image" height="20" width="20"> Image</br>

    <img src="{{ url_for('static', filename='video.png') }}"
        alt="Video" height="20" width="20"> Video</br>

    <img src="{{ url_for('static', filename='ifr.png') }}"
        alt="iFrame" height="20" width="20"> iFrame</br>

    <img src="{{ url_for('static', filename='wtf.png') }}"
        alt="Content type not set/unknown" height="20" width="20"> Content type not set/unknown</br>

</div>
<div id=tree-details><center><b>Tree details</b></center></br>
    <b>Root URL</b>: {{ root_url }}</br>
    <b>Start time</b>: {{ start_time }}</br>
    <b>User Agent</b>: {{ user_agent }}</br>
</div>

{% endblock content %}
