# Web thing
flask
flask-bootstrap

# Backend libs
git+https://github.com/viper-framework/har2tree.git
git+https://github.com/viper-framework/ScrapySplashWrapper.git

# Required for the drawing (latest version)
git+https://github.com/etetoolkit/ete.git
