{% from "macros.html" import taxonomy_table %}

<div>

{% if current_categories %}
<center><h4>Current categories for the capture</h4></center>
  {{ taxonomy_table(tree_uuid, current_categories, 0) }}
{% else %}
<center><h4>The capture isn't categorized yet</h4></center>
{% endif%}

{% if matching_categories is none %}
<p></p>
{% elif matching_categories %}
<center><h4>Categories matching your query</h4></center>
  {{ taxonomy_table(tree_uuid, matching_categories, 1) }}
{% else %}
<center><h4>No categories matching your query</h4></center>
{% endif%}

</div>
