{% extends "main.html" %}

{% from 'bootstrap5/utils.html' import render_messages %}

{% block title %}Cookies lookup{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $('#table').DataTable( {
        "order": [[ 1, "desc" ]],
        "pageLength": 500
    });
</script>

{% endblock %}

{% block content %}
  <div class="table-responsive">
  <table id="table" class="table" style="width:96%">
    <thead>
     <tr>
       <th>Cookie name</th>
       <th>Frequency</th>
       <th>Number unique domains</th>
     </tr>
    </thead>
    <tbody>
      {% for name, freq, number_domains in cookies_names %}
      <tr>
        <td>
          <a href="{{ url_for('cookies_name_detail', cookie_name=name) }}">{{ name }}</a>
        </td>
        <td>{{ freq }}</td>
        <td>{{ number_domains }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
