{% extends "main.html" %}

{% from 'bootstrap/utils.html' import render_messages %}

{% block title %}{{ cookie_name }}{% endblock %}

{% block scripts %}
{{ super() }}
<script src='{{ url_for('static', filename='datatables.min.js') }}'></script>
<script type="text/javascript">
    $('#table').DataTable( {
        "order": [[ 1, "desc" ]],
        "pageLength": 500
    });
</script>

<script type="text/javascript">
    function openTreeInNewTab(treeUUID) {
            window.opener.openTreeInNewTab(treeUUID);
    };
</script>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
{% endblock %}


{% block content %}
  <center>
      <h2>{{ cookie_name }}</h2>
      <button onclick="window.history.back();" class="btn btn-primary" type="button">Go Back</button>
  </center>
  <div class="table-responsive">
  <table id="table" class="table" style="width:96%">
    <thead>
     <tr>
       <th>Domain name</th>
       <th>Frequency</th>
       <th>Value</th>
     </tr>
    </thead>
    <tbody>
      {% for domain, freq, values in domains %}
      <tr>
        <td>
          {{ domain }}
        </td>
        <td>{{ freq }}</td>
        <td>
          <ul>
          {% for value, freq in values %}
            <li>{{ value }} - {{ freq }}</li>
          {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <p>A cookie with that name was seen in these captures:</p>
  <ul>
  {% for capture_uuid, title in captures %}
    <li><a href="#/" onclick="openTreeInNewTab('{{ capture_uuid }}')">{{ title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
