{% extends "main.html" %}

{% block title %}Details for {{ hostname }} {% endblock %}

{% block scripts %}
  <script>
      function whereAmI() {
          window.opener.ProcessChildMessage("{{ hostname_uuid }}");
      };
  </script>
{% endblock %}

{% block content %}
  <center>
    <h3>{{ hostname }}</h3>
    <button type="button" class="btn btn-secondary" onclick="whereAmI()">Locate node on tree</button>
    <a href="{{ url_for('hostnode_details_text', tree_uuid=tree_uuid, node_uuid=hostname_uuid) }}" class="btn btn-info" role="button">Get URLs as text</a>
  </center>
  <p>Click on the URL to get the content of the response</p>
  <div class="table-responsive">
    <table id="table" class="table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Known file</th>
          {% for alt, path in keys.items() %}
          <th><img src="{{ path }}" alt="{{ alt }}" width="21" height="21"/></th>
          {% endfor %}
        </tr>
      </thead>
    <tbody>
    {% for url in urls %}
      <tr>
        <td style="white-space:nowrap">
          <a href="{{ url_for('urlnode_details', tree_uuid=tree_uuid, node_uuid=url.uuid) }}">{{ url.name }}</a>
        </td>
        <td><br/>
            {% if url.sane_js_details_to_print %}
                {{ url.sane_js_details_to_print }}
            {% else %}
                {{ url.sane_js_details }}
            {% endif %}
        </td>
        {% for key in keys.keys() %}
        <td><br/>
        {% if url[key] %}
        X
        {% else%}
        -
        {%endif%}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}
