{% from "macros.html" import shorten_string %}

<script type="text/javascript">
  new DataTable('#identifierDetailsTable', {
    order: [[ 0, "desc" ]],
    columnDefs: [{ width: '30%',
                   targets: 0,
                   render: (data) => {
                    const date = new Date(data);
                    return date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, "0") + '-' + date.getDate().toString().padStart(2, "0") + ' ' + date.toTimeString();
                   }
                 },
                 { width: '30%', targets: 1 },
                 { width: '50%', targets: 2 }],

  });
</script>

<center>
  <h5>{{identifier_type}}: {{identifier}}</h5>
</center>
<table id="identifierDetailsTable" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Capture Time</th>
      <th>Capture Title</th>
      <th>Landing page</th>
    </tr>
  </thead>
  <tbody>
    {% for capture_uuid, title, landing_page, capture_time in captures %}
    <tr>
      <td>
        {{capture_time}}
      </td>
      <td>
        <a href="{{ url_for('tree', tree_uuid=capture_uuid) }}">
          {{ title }}
        </a>
      </td>
      <td>
        <span class="d-inline-block text-break" style="max-width: 400px;">
          {{ landing_page }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
