{% from "macros.html" import shorten_string %}

<center>
  <h5>{{identifier_type}}: {{identifier}}</h5>
</center>
<table id="identifierDetailsTable" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Capture Time</th>
      <th>Capture Title</th>
      <th>Landing page</th>
    </tr>
  </thead>
  <tbody>
    {% for capture_uuid, title, landing_page, capture_time in captures %}
    <tr>
      <td>
        {{capture_time}}
      </td>
      <td>
        <a href="{{ url_for('tree', tree_uuid=capture_uuid) }}">
          {{ title }}
        </a>
      </td>
      <td>
        <span class="d-inline-block text-break" style="max-width: 400px;">
          {{ landing_page }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
