{% extends "main.html" %}

{% block title %}Lookyloo{% endblock %}

{% block content %}
  <center>
    <h2><a href="{{ url_for('scrape_web') }}">Use Lookyloo to scrape a page</a></h2>
    </br></br>
  </center>

  <table class="table table-hover" data-toggle="table" data-search="true">
  <thead>
        <tr>
            <th scope="col">Page title</th>
            <th scope="col">Initial URL</th>
        <tr>
    </thead>
    <tbody>
        {% for uuid, page_title, date, time, url in titles %}
        <tr>
            <td>
                <a href="{{ url_for('tree', tree_uuid=uuid) }}">{{ page_title }}</a>
                <div id="timestamp">  <b>{{ date }}</b> {{ time }}</div>
            </td>
            <td>{{ url }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
