{% extends "main.html" %}

{% from 'bootstrap5/utils.html' import render_messages %}

{% block title %}Lookyloo{% endblock %}

{% block card %}
<meta property="og:title" content="Lookyloo" />
<meta property="og:type" content="website"/>
<meta
  property="og:description"
  content="Lookyloo captures websites and let you investigate them."
/>
<meta
  property="og:image"
  content="https://{{public_domain}}{{ url_for('static', filename='lookyloo.jpeg') }}"
/>
<meta
  property="og:url"
  content="https://{{public_domain}}"
/>
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block identity %}
  {% if mastobot_enabled %}
    <link rel="me" href="https://{{mastodon_domain}}/@{{mastodon_botname}}">
  {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}


{% block content %}
  {% include 'top_navbar.html' %}
  <center>
    <a href="{{ url_for('capture_web') }}">
      <img src="{{ url_for('static', filename='lookyloo.jpeg') }}"
           alt="Lookyloo" width="250">
    </a>
    <br>
    <a href="{{ url_for('capture_web') }}">
      <button class="new-capture-button btn btn-primary">Start a new capture</button>
    </a>
    <a href="{{ url_for('submit_capture') }}">
      <button class="new-capture-button btn btn-primary">Submit capture</button>
    </a>
    {% if current_user.is_authenticated and enable_takedown_form == true %}
    <a href="{{ url_for('simple_capture') }}">
      <button class="new-capture-button btn btn-primary">Takedown process</button>
    </a>
    {% endif %}
    <br>
    {% if current_user.is_authenticated %}
    <p class="lead">
    You are logged-in as <strong>{{ current_user.id }}</strong>,
      {% if show_hidden == false %}
      and you can check the <a href="{{ url_for('index_hidden', category=category if category else None) }}">hidden</a> captures.
      {% else %}
      and you're looking at the hidden captures. Go back to the <a href="{{ url_for('index', category=category if category else None) }}">public</a> captures.
      {% endif %}
    </p>
    {% endif %}
    {% if category %}
    <p class="lead">
    Only showing the captures for the category <strong>{{ category }}</strong>.
    </p>
    {% endif %}
    {{ render_messages(container=True, dismissible=True) }}
  </center>

  <div class="table-responsive">
    <table id="IndexTable" class="table table-striped" style="width:100%"
        data-indextype="{%if show_hidden%}hidden{%else%}index{%endif%}">
    <thead>
     <tr>
       <th>Page</th>
       <th>Timestamp</th>
       <th>Redirects</th>
     </tr>
    </thead>
  </table>
  </div>
{% endblock %}
