<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
          {{get_sri('static', 'favicon.ico')}}
          crossorigin="anonymous">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}"
          {{get_sri('static', 'generic.css')}}
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}"
          {{get_sri('static', 'datatables.min.css')}}
          crossorigin="anonymous">
    {% endblock %}

    <title>{% block title %}{% endblock%}</title>

    {% block card %}{% endblock %}

    {% endblock %}
  </head>
  <body>
    <!-- Your page content -->
    <div class="container">
      {% block content %}{% endblock%}
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js(nonce=csp_nonce()) }}
    <script src='{{ url_for('static', filename='jquery.min.js') }}'
            {{get_sri('static', 'jquery.min.js')}}
            nonce="{{ csp_nonce() }}"
            crossorigin="anonymous"></script>
    <script src='{{ url_for('static', filename='datatables.min.js') }}'
            {{get_sri('static', 'datatables.min.js')}}
            nonce="{{ csp_nonce() }}"
            crossorigin="anonymous"></script>
    <script src='{{ url_for('static', filename='generic.js') }}'
            {{get_sri('static', 'generic.js')}}
            nonce="{{ csp_nonce() }}"
            crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
