<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree.css') }}">
    {% endblock %}

    <title>
        {% block title %}{% endblock%}
    </title>
    {% endblock %}
  </head>
  <body>
    <!-- Your page contont -->
    <!--
    <div class="container">
    -->
      {% block content %}{% endblock%}
    <!--
    </div>
    -->

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
	<script src='{{ url_for('static', filename='d3.v5.min.js') }}'></script>
    <script src='{{ url_for('static', filename='FileSaver.js') }}'></script>
    <script src='{{ url_for('static', filename='bootstrap-table.min.js') }}'></script>
    {% endblock %}
  </body>
</html>
