{% from "macros.html" import shorten_string %}

<div>
  <center>
    <h1 class="display-4">MISP hits</h1>
    <h6>Searching on URL, domain, IPs, and CNAMEs for all the nodes up to the rendered page.</h6>
    <h6>Skips the entries in warnings lists enabled on your MISP instance.</h6>
  </center>
{% if hits %}
  <ul>
  {% for event_id, values in hits.items() %}
  <li><a href="{{misp_root_url}}/events/{{event_id}}">Event {{event_id}}</a>:
    <ul>
    {% for v in values|sort %}
      <li>{{ v }}</li>
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  </ul>
{% else %}
  No hits
{% endif %}
