<div>
  <p>Default tags: {{', '.join(default_tags)}}</p>
  <form role="form" action="{{ url_for('web_misp_push_view', tree_uuid=tree_uuid) }}" method=post enctype=multipart/form-data>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="url" class="col-sm-2 col-form-label">Event info:</label>
        <input type="text" class="form-control" name="event_info" value="{{event.info}}">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="tags" class="col-sm-2 col-form-label">Available tags:</label>
        <select class="form-control" name="tags" id="tags" multiple>
          {% for tag in fav_tags %}
          <option value="{{ tag.name }}">{{ tag.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="auto_publish" {%if auto_publish %} checked {% endif %}></input>
      <label for="auto_publish" class="form-check-label">Publish the event automatically</label>
    </div>
    {% if existing_event %}
    <p>There is already an <a href="{{existing_event}}">event on your MISP instance</a> with this lookyloo capture.</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="force_push" onchange="document.getElementById('btn-misp-push').disabled = !this.checked;"></input>
      <label for="force_push" class="form-check-label">Tick this box if you want to push anyway</label>
    </div>
    {% endif %}
    {% if has_parent %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="with_parents"></input>
      <label for="with_parents" class="form-check-label">Also push the parents</label>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-info" id="btn-misp-push" {% if existing_event %}disabled=true{% endif %}>Push to MISP</button>
  </form>
</div>
