{% from 'bootstrap5/utils.html' import render_icon %}

{% if from_popup %}

{% extends "main.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Pretty code{% endblock %}

{%endif%}


{% block content %}

{% if from_popup %}
<center><button class="btn btn-primary goBack" type="button">Go Back</button></center>
{%endif%}

<script type="module">
    await getData("{{download_link}}")
</script>

<center>
  <a href="{{ download_link }}">
      Download content
  </a>
</center>

{% if post_info %}
<div id="post_info" class="alert alert-info" role="alert">{{post_info}}</div>
{%endif%}

<div id="render_meta" class="alert" role="alert"></div>
<pre id="pretty_data" style="text-wrap: wrap; word-break: break-word;"></pre>

{% endblock %}
