{% extends "main.html" %}
{% block title %}Search{% endblock %}

{% block card %}
<meta property="og:title" content="Lookyloo" />
<meta property="og:type" content="website"/>
<meta
  property="og:description"
  content="Lookyloo captures websites and let you investigate them."
/>
<meta
  property="og:image"
  content="https://{{public_domain}}{{ url_for('static', filename='lookyloo.jpeg') }}"
/>
<meta
  property="og:url"
  content="https://{{public_domain}}"
/>
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}
<div class="container">
  <center>
    <a href="{{ url_for('index') }}" title="Go back to index">
      <img src="{{ url_for('static', filename='lookyloo.jpeg') }}"
           alt="Lookyloo" width="400">
    </a>
  </center>
  <br>
  <div>Please only search one of the following thing at a time.</div>
  <form role="form" action="{{ url_for('search') }}" method=post enctype=multipart/form-data>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="url" class="col-sm-2 col-form-label">URL:</label>
        <input type="text" class="form-control" name="url" id=url placeholder="URL to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="hostname" class="col-sm-2 col-form-label">Hostname:</label>
        <input type="text" class="form-control" name="hostname" id=hostname placeholder="Hostname to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="tld" class="col-sm-2 col-form-label">TLD:</label>
        <input type="text" class="form-control" name="tld" id=tld placeholder="TLD to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="ip" class="col-sm-2 col-form-label">IP Address:</label>
        <input type="text" class="form-control" name="ip" id=ip placeholder="IP to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="ressource" class="col-sm-2 col-form-label">Ressource:</label>
        <input type="text" class="form-control" name="ressource" id=ressource placeholder="SHA 521 of the ressource to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="cookie" class="col-sm-2 col-form-label">Cookie name:</label>
        <input type="text" class="form-control" name="cookie" id=cookie placeholder="Cookie name to search">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="favicon_sha512" class="col-sm-2 col-form-label">Favicon SHA512:</label>
        <input type="text" class="form-control" name="favicon_sha512" id=favicon_sha512 placeholder="SHA512 of a favicon">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <label for="favicon_file" class="col-sm-2 col-form-label">Favicon:</label>
        <input class="form-control" type="file" id="favicon_file" name="favicon_file">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="btn-looking">Search!</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src='{{ url_for('static', filename='capture.js') }}'
          {{get_sri('static', 'capture.js')}}
          nonce="{{ csp_nonce() }}"
          crossorigin="anonymous"></script>
{% endblock %}
