{% extends "main.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
<div>
{% for week in stats['weeks'] %}
  <h2> Week: {{ week['week_number'] }}</h2>
  <div class="table-responsive">
  <table id="table" class="table" style="width:96%">
    <thead>
    <tr>
      <th>Submissions</th>
      <th>Redirects</th>
      <th>Unique urls (including redirects)</th>
      <th>Unique domains (including redirects)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> {{ week['submissions'] }} </td>
      <td> {{ week['redirects'] }} </td>
      <td> {{ week['uniq_urls'] }} </td>
      <td> {{ week['uniq_domains'] }} </td>
    </tr>
    </tbody>
  </table>
  </div>
{% endfor %}
</div>

<div>
{% for year in stats['years'] %}
  <h2>Year: {{ year['year'] }}</h2>
  <ul>
      <li><b>Total submissions</b>: {{ year['yearly_submissions'] }}</li>
  </ul>
  <div>
    <div class="table-responsive">
    <table id="table" class="table" style="width:96%">
      <thead>
      <tr>
        <th>Month</th>
        <th>Submissions</th>
        <th>Redirects</th>
        <th>Unique urls (including redirects)</th>
        <th>Unique domains (including redirects)</th>
      </tr>
      </thead>
      <tbody>
      {% for month in year['months'] %}
        <tr>
          <td> {{ month_name(month['month_number']) }} </td>
          <td> {{ month['submissions'] }} </td>
          <td> {{ month['redirects'] }} </td>
          <td> {{ month['uniq_urls'] }} </td>
          <td> {{ month['uniq_domains'] }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endfor %}
</div>

<div class='graphs'></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='{{ url_for('static', filename='d3.min.js') }}'
        {{get_sri('static', 'd3.min.js')}}
        nonce="{{ csp_nonce() }}"
        crossorigin="anonymous"></script>
<script src='{{ url_for('static', filename='stats_graph.js') }}'
        {{get_sri('static', 'stats_graph.js')}}
        nonce="{{ csp_nonce() }}"
        crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}"
      {{get_sri('static', 'stats.css')}}
      crossorigin="anonymous">
{% endblock %}
