<div>
  <dl class="row">

    {% if 'total_unique_hostnames' in stats %}
    <dt class="col-sm-2">Unique hostnames</dt>
    <dd class="col-sm-10">{{ stats['total_unique_hostnames'] }}</dd>
    {% else %}
    <dt class="col-sm-2">Total hostnames nodes</dt>
    <dd class="col-sm-10">{{ stats['total_hostnames'] }}</dd>
    {% endif %}

    {% if 'total_unique_urls' in stats %}
    <dt class="col-sm-2">Unique URLs</dt>
    <dd class="col-sm-10">{{ stats['total_unique_urls'] }}</dd>
    {% else %}
    <dt class="col-sm-2">Total URLs nodes</dt>
    <dd class="col-sm-10">{{ stats['total_urls'] }}</dd>
    {% endif %}

    <dt class="col-sm-2">Cookies Received</dt>
    <dd class="col-sm-10">{{ stats['total_cookies_received'] }}</dd>

    <dt class="col-sm-2">Cookies Sent</dt>
    <dd class="col-sm-10">{{ stats['total_cookies_sent'] }}</dd>

    <dt class="col-sm-2">Node Depth</dt>
    <dd class="col-sm-10">{{ stats['tree_depth'] }}</dd>

    <dt class="col-sm-2">Total Nodes</dt>
    <dd class="col-sm-10">{{ stats['total_hostnames'] }}</dd>

    <dt class="col-sm-2">Total load time</dt>
    <dd class="col-sm-10">{{ stats['total_load_time'] }}</dd>

    <dt class="col-sm-2">Total size responses</dt>
    <dd class="col-sm-10">{{ sizeof_fmt(stats['total_size_responses']) }}</dd>
  </dl>
</div>
