<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-auto" href="{{ url_for('landing_page')}}" style="float=none">
      <img src="{{ url_for('static', filename='lookyloo.png') }}"
               alt="Lookyloo logo" width="250"
               class="d-inline-block align-text-top">
      <br>
      <h4>Web forensics tool</h4>
    </a>
    <button class="navbar-toggler ms-auto p-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lookyloo<br>Web forensics</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('index')}}">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('capture_web')}}">Capture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('search')}}">Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              {% if current_user.is_authenticated %}
              <li><a class="dropdown-item" href="{{ url_for('statsfull')}}">Statistics</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{{ url_for('login')}}">Login</a></li>
              {% endif%}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.lookyloo.eu/docs/main/index.html">Documentation</a></li>
              <li><a class="dropdown-item" href="/doc">API Documentation</a></li>
              <li><a class="dropdown-item" href="https://github.com/Lookyloo/lookyloo/releases/tag/v{{version}}">Changelog (v{{version}})</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://github.com/Lookyloo">Project Page</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
