<script type="text/javascript">
  new DataTable('#faviconsTable', {
    columnDefs: [{ width: '20%', targets: 0 },
                 { width: '40%', targets: 1 },
                 { width: '40%', targets: 2 }],
  });
</script>

<table id="faviconsTable" class="table table-striped" style="width:100%">
<thead>
 <tr>
   <th>Favicon</th>
   <th>Frequency</th>
   <th>Number of captures</th>
 </tr>
</thead>
<tbody>
  {% for favicon_sha512, freq, number_captures, b64_favicon in favicons %}
  <tr>
    <td>
      <a href="#faviconDetailsModal" data-remote="{{ url_for('favicon_detail', favicon_sha512=favicon_sha512) }}"
         data-bs-toggle="modal" data-bs-target="#faviconDetailsModal" role="button">
        <img src="data:image/ico;base64,{{ b64_favicon }}" style="width:32px;height:32px;"/>
      </a>
    </td>
    <td>{{ freq }}</td>
    <td>{{ number_captures }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
