<script type="text/javascript" nonce="{{ csp_nonce() }}">
  new DataTable('#faviconsTable', {
    columnDefs: [{ width: '10%', targets: 0 },
                 { width: '40%', targets: 1 },
                 { width: '40%', targets: 2 },
                 { width: '10%', targets: 3 }],
  });
</script>

<script type="text/javascript" nonce="{{ csp_nonce() }}">
const downloadFavicons = document.querySelectorAll(".downloadFaviconButton")
if (downloadFavicons) {
    downloadFavicons.forEach(el => el.addEventListener('click', event => {
        downloadBase64File(el.dataset.mimetype, el.dataset.b64favicon, el.dataset.filename);
    }));
}
</script>


<h5 class="text-center">Click on the favicon to see the other captures it's been found in</h5>
<table id="faviconsTable" class="table table-striped" style="width:100%">
<thead>
 <tr>
   <th>Number of captures</th>
   <th>Favicon</th>
   <th>Shodan MMH3</th>
   <th>Download</th>
 </tr>
</thead>
<tbody>
  {% for favicon_sha512, freq, number_captures, mimetype, b64_favicon, mmh3_shodan in favicons %}
  <tr>
    <td>{{ number_captures }}</td>
    <td>
      <a href="#faviconDetailsModal" data-remote="{{ url_for('favicon_detail', favicon_sha512=favicon_sha512, get_probabilistic=0) }}"
         data-bs-toggle="modal" data-bs-target="#faviconDetailsModal" role="button">
        <img src="data:{{mimetype}};base64,{{ b64_favicon }}" style="width:32px;height:32px;"
             title="Click to see other captures with the same favicon"/>
      </a>
    </td>
    <td><a href="https://www.shodan.io/search?query=http.favicon.hash%3A{{ mmh3_shodan }}" target="_blank">{{ mmh3_shodan }}</a></td>
    <td>
      <button type="button" class="btn btn-light downloadFaviconButton"
              data-mimetype="{{mimetype}}" data-b64favicon="{{b64_favicon}}"
                                           data-filename="favicon.ico">
        <img src="{{ url_for('static', filename='download.svg') }}" style="width:16px;height:16px;"
             title="Download the favicon"/>
      </button>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
