/* Capture button */
.new-capture-button {
  width: 270px;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0000ff;
  border: 10px;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.new-capture-button:hover {
  background-color: #007070;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-7px);
}

/* CSS collapse thing */
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

/* Ressource preview */
img.ressource_preview{
  width:100%;
  height:100%;
  max-width:150px;
  max-height:150px;
  min-width:10px;
  min-height:10px;
}

/* Tables */
table {
  table-layout: fixed;
}

table td p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* Tooltips */
.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    z-index: 1;
    border: 2px solid;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.tooltip text {
  font: 15px sans-serif;
  z-index: 2;
}

.tooltip img {
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

/* boaty */
.boatymcboat {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
