.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#screenshot {
  position: fixed;
  top: 5px;
  right: 5px;
  background: white;
  border: 2px solid;
}

.thumbnail:hover {
  position:relative;
  width:100%;
  height:auto;
  display:block;
  z-index:999;
}

.thumbnail {
	overflow: hidden;
}

#lookyloo-icon {
  position: fixed;
  top: 5px;
  left: 5px;
  background-image: url("lookyloo.jpeg");
  background-size: cover;
  width: 200px;
  height: 110px;
  resize: both;
  border: 2px solid;
}

#legend {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background: white;
  border: 2px solid;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#tree-details {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: white;
  border: 2px solid;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
		z-index: 1;
		border: 2px solid;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
}

.tooltip text {
	font: 15px sans-serif;
	z-index: 2;
}
