.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.flashed-messages {
  position: fixed;
  bottom: 5px;
  text-align: center;
}

.blur {
  filter: blur(10px);
}

#screenshot_thumbnail {
  scroll-margin: 50px;
}

#help {
  text-align: center;
  border-style: solid;
  border-color: #0d6efd;
  border-radius: 25px;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background-color: #0d6efd;
  color: white;
  align-content: center;
}

#help:hover {
  background-color: white;
  color: blue;
}

/* Generic parts of menus */
hr {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: inset;
  border-width: 1px;
}

/* menu vertical */
#menu_vertical {
  position: fixed;
  top: 5px;
  left: 5px;
  background: white;
  border: 2px solid;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#menu_container_vertical {
  position: fixed;
  top: 5px;
  left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#menu_container_vertical .menu-header {
  width: 200px;
  height: 110px;
  resize: both;
}

#menu_container_vertical ul.components {
    padding: 10px 0;
}

#menu_container_vertical ul li a {
    padding: 5px;
    font-size: 1.1em;
    display: block;
}

#menu_container_vertical ul li a:hover {
}

/* menu horizontal */
#menu_horizontal {
  position: fixed;
  top: 5px;
  background: white;
  border: 2px solid;
  padding: 5px;
}

#menu_container_horizontal {
  position: fixed;
  top: 5px;
  left: 5px;
  left: 217px;
  padding: 5px;
}

.hstack{
  height: 106.6px;
}

#menu_container_horizontal .container {
  width: 80%;
}

#menu_container_horizontal ul.components {
    padding: 5px;
}

#menu_container_horizontal ul li a {
    padding: 1px;
    font-size: 1.1em;
    display: block;
}

#menu_container_horizontal ul li a:hover {
    background: #fff;
}


/* NEW: Dropdown Menu */
/* Dropdown Button */
.dropbtn {
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 180px;
  text-align: center;
  height: 40px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #0067fc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content.show {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
#capture-menu:hover #capture-menu-content {
  display: block;
}
#actions-menu:hover #actions-menu-content {
  display: block;
}
#tools-menu:hover #tools-menu-content {
  display: block;
}
#admin-menu:hover #admin-menu-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2980b9;
}


/* legend */
#legend_container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#legend {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: white;
  border: 2px solid;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}