{
  "loglevel": "INFO",
  "splash_loglevel": "WARNING",
  "only_global_lookups": true,
  "public_instance": false,
  "splash_url": "http://127.0.0.1:8050",
  "default_user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36",
  "cache_clean_user": {},
  "time_delta_on_index": {
    "weeks": 1,
    "days": 0,
    "hours": 0
  },
  "max_depth": 1,
  "use_user_agents_users": false,
  "enable_default_blur_screenshot": false,
  "enable_mail_notification": false,
  "email": {
      "from": "Lookyloo <lookyloo@myorg.local>",
      "to": "Investigation Team <investigation_unit@myorg.local>",
      "subject": "Capture from Lookyloo to review",
      "domain": "lookyloo.myorg.local",
      "smtp_host": "localhost",
      "smtp_port": "25"
  },
  "_notes": {
    "loglevel": "(lookyloo) Can be one of the value listed here: https://docs.python.org/3/library/logging.html#levels",
    "splash_loglevel": "(Splash) INFO is *very* verbose.",
    "public_instance": "true means disabling features deemed unsafe on a public instance (such as indexing private captures)",
    "only_global_lookups": "Set it to True if your instance is publicly available so users aren't able to scan your internal network",
    "splash_url": "URL to connect to splash",
    "default_user_agent": "Ultimate fallback if the capture form, or the asynchronous submission, don't provide a UA",
    "cache_clean_user": "Format: {username: password}",
    "time_delta_on_index": "Time interval of the capture displayed on the index",
    "max_depth": "Maximum depth for scraping. Anything > 1 will be exponentially bigger.",
    "use_user_agents_users": "Only usable for medium/high use instances: use the user agents of the users of the platform",
    "enable_default_blur_screenshot": "If true, blur the screenshot by default (useful on public instances)",
    "enable_mail_notification": "Enable email notification or not",
    "email": "Configuration for sending email notifications."
  }
}
