{
    "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
        "simple": {
            "format": "[%(asctime)s] %(name)s %(levelname)s:%(message)s"
        }
    },
    "handlers": {
        "file": {
            "class": "logging.handlers.RotatingFileHandler",
			"level": "WARNING",
            "formatter": "simple",
            "filename": "website/logs/warning.log",
            "mode": "a",
            "maxBytes": 1000000,
            "backupCount": 5
        },
        "wsgi": {
            "class": "logging.StreamHandler",
            "stream": "ext://flask.logging.wsgi_errors_stream",
            "level": "INFO",
            "formatter": "simple"
        }
    },
    "root": {
        "level": "INFO",
        "handlers": [
            "file",
            "wsgi"
        ]
    }
}
