# Forensic acquisition of {capture_uuid}

The initial URL submitted for capturing was "{initial_url}".

You can view the complete capture there: https://{domain}/tree/{capture_uuid}

# Manual validation

To trigger the manual validation of the Trusted Timestamps, extract the archive and run `bash validator.sh` in the directory.
